body, html {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 400px;
}

header {
    background: #eee;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    color: #666;

    img {
        vertical-align: bottom;
        margin-right: 20px;
    }
}

section {
    color: #666;
    padding: 20px;
}

table, td, th {
    border: 3px solid rgb(0, 0, 0);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%
}